include p3analysis/data/coverage-0.1.0.schema
include p3analysis/data/coverage-0.2.0.schema
include p3analysis/data/coverage-0.3.0.schema
include p3analysis/plot/backend/templates/cascade.tex
include p3analysis/plot/backend/templates/navchart.tex
